<div class="strength">{{ stamina }}/{{ maxStamina }}</div>
<div class="energy" [style.opacity]="energy > 0 ? 1 : 0">{{ energy }}W</div>
<div class="knowledge" [style.opacity]="knowledgePoints > 0 ? 1 : 0">i{{ knowledgePoints }}</div>
