:host {
  display: flex;
}

.knowledge {
  flex: 1;
  text-align: right;
  transition: opacity 1s;
  color: #ffc65e;
  text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}

.energy {
  flex: 1;
  transition: opacity 1s;
}

.strength {
  padding: 0 5px;
}
