<div class="container">
  <main>
    <mappo-statusbar [knowledgePoints]="gameState.getKnowledgePoints()" [energy]="gameState.getEnergy()" [stamina]="gameState.getStamina()" [maxStamina]="gameState.getMaxStamina()"></mappo-statusbar>
    <mappo-speech></mappo-speech>
    <div class="button-container">
      <mappo-button (done)="openDoor()" (click)="clickDoor()" #door>Door</mappo-button>
    </div>
    <div class="button-container" [style.display]="gameState.isPrologDone() ? 'block' : 'none'">
      <mappo-button #rest>Rest</mappo-button>
      <mappo-button #ladder>Ladder</mappo-button>
    </div>
  </main>
</div>
