button {
  background-color: white;
  border: 1px solid black;
  padding: 1em 0;
  width: 250px;
  transition: opacity var(--animation-duration), transform var(--animation-duration);
}

button:hover {
  background-color: #89bfcc;
  cursor: pointer;
}
